<%- include('partials/head') %>

<body>  
  <%- include('partials/navbar') %>
    <div class="container">
        <h1>Hi there! <%= 4+5+1 %></h1>
        <p style="margin-left: 20px;">How are you doing?</p>
    </div>
</body>
</html>