<%- include('partials/head') %>

<body>
  <%- include('partials/navbar') %>
      <div class="container">
        <h1>Your random number is: <%=rand%></h1>  <!-- Calculated in js file-->
        <h2>This number is <%= rand%2===0 ? 'even!' : 'odd!' %></h2> <!--Calculated in the template-->
      </div>
</body>

</html>